@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0em;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 3.8em;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background: var(--subtitulos);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--hover); 
    border-radius: 2em;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 2em;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 0.4em;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 0.4em;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}

.grid .header {
    grid-area: header;
    display: inline;
    width: 80em;
}

.grid .header img {
    width: 9em;
    float: left;
    padding-left: 5em;
}

.grid .header h1 {
    font-size: 3em;
    color: var(--titulos);
    width: fit-content;
    float: right;
    padding-right: 1.7em;
    padding-top: 0.55em;
}

.grid .adopt {
    grid-area: adopt;
    background: var(--parrafos);
    color: var(--fondo);
    column-count: 3;
    column-gap: 2em;
    padding: 1em;
    width: 79em;
}

.grid .adopt h2 {
    padding-left: 0.6em;
    font-size: 2.5em;
}

.grid .adopt p {
    padding: 0.5em;
    font-size: 1.3em;
}

.grid .album {
    grid-area: album;
    background: var(--parrafos);
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
    gap: 0.9em;
    width: 81em;
}

.grid .album img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid .album p {
    width: fit-content;
    color: var(--fondo);
    font-size: 1.2em;
    text-align: center;
    padding: 0.625em;

}

.grid .aside1 {
    grid-area: aside1;
    width: 44em;
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(13, auto);
    gap: 0.625em;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.grid .aside1 article {
    flex: 1 0 auto;
    width: 15em;
    height: 42.5em;
    object-fit: cover;
    background-color: var(--subtitulos);
    display: block;
    align-self: center;
}

.grid .aside1 article img {
    width: 100%;
    height: 25em;
    left: 0;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: start;
}

.grid .aside1 article h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: var(--fondo);
    padding-top: 1.1em;
    text-align: center;
}

.grid .aside1 article p {
    font-family: 'Pompiere', cursive;
    font-size: 1.6em;
    color: var(--hover);
    padding: 0.5em;
    width: fit-content;
}

.grid .aside1::-webkit-scrollbar {
    height: 1em;
}

.grid .aside1::-webkit-scrollbar-thumb {
    background-color: var(--hover); 
    border-radius: 2em;
}

.grid .formu {
    grid-area: formu;
    width: fit-content;
    height: auto;
    padding: 2.5em;
    border-radius: 0.625em;
    background-color: var(--parrafos);
    margin-bottom: 0.6em;
    color: var(--fondo);
    font-family: 'Comfortaa', cursive;
    display: inline;
    justify-self: center;
    -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
    -ms-border-radius: 0.625em;
    -o-border-radius: 0.625em;
}

.grid .formu fieldset {
    width: fit-content;
}

.grid .formu h2 {
    color: var(--fondo);
    font-size: 2em;
    text-align: center;
}

.grid .formu legend {
    color: var(--fondo);
    font-size: 1.7em;
}

.grid .formu label {
    font-weight: bold;
    display: inline-block;
    margin-top: 1em;
}

.grid .formu #mascota {
    font-weight: bold;
    display: inline-block;
    background-color: var(--fondo);
    padding: 0.5em 0em;
}

.grid .formu #dni {
    font-weight: bold;
    display: inline-block;
    border-radius: 0.06em;
    background-color: var(--fondo);
    padding: 0.5em 0em;
    -webkit-border-radius: 0.06em;
    -moz-border-radius: 0.06em;
    -ms-border-radius: 0.06em;
    -o-border-radius: 0.06em;
}

.grid .formu form input[type="text"],
.grid .formu form input[type="mail"] {
    border: 0.06em solid var(--parrafos);
    border-radius: 0.19em;
    background-color: var(--fondo);
    display: inline-block;
    padding: 0.5em 0em;
    -webkit-border-radius: 0.19em;
    -moz-border-radius: 0.19em;
    -ms-border-radius: 0.19em;
    -o-border-radius: 0.19em;
}

form input[type="submit"] {
    padding: 0.5em 1em;
    margin-top: 2em;
    border: 0.06em solid var(--fondo);
    border-radius: 0.31em;
    display: block;
    color: var(--fondo);
    background-color: var(--parrafos);
    -webkit-border-radius: 0.31em;
    -moz-border-radius: 0.31em;
    -ms-border-radius: 0.31em;
    -o-border-radius: 0.31em;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

#textarea {
    width: 30em;
    height: 1em;
    border: 0.004em solid var(--fondo);
    border-radius: 0.19em;
    background: var(--hover);
    margin: 1em 0;
    resize: none;
    display: block;
    -webkit-border-radius: 0.19em;
    -moz-border-radius: 0.19em;
    -ms-border-radius: 0.19em;
    -o-border-radius: 0.19em;
}

.grid .formu a {
    font-size: 1.5em;
    color: var(--hover);
    text-decoration: none;
}

.grid .formu a:hover {
    color: var(--fondo);
    text-decoration: none;
}

footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 1.2em;
    display: inline-flex;
    padding: 0.3em 0em;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 8.8em;
    margin-right: 3em;
}

footer #nuestrosDatos {
    width: 25em;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0em;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #nuestrosDatos .horarios>li {
    padding-left: 1.5em;
    font-size: 1em;
}

footer #nuestrosDatos ul li a {
    text-decoration: none;
    color: var(--hover);
}

footer #direccion p {
    font-size: 1em;
}

footer #redes {
    display: inline;
    text-align: center;
    width: 37.5em;
    margin: 0em 3em;
}

footer #redes img {
    display: inline-block;
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}

footer #redes p {
    display: inline-block;
}

.grid {
    width: 80em;
    display: grid;
    gap: 1em;
    grid-template-columns: 22em 22em 35em;
    grid-template-areas: "header header header"
        "adopt adopt adopt"
        "album album album"
        "aside1 aside1 formu"
        "aside1 aside1 formu";
    margin: auto;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: var(--hover);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    z-index: 10000;
}

#carga {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

/* Este es el estilo para tamaño tableta */

@media (max-width: 992px) and (min-width: 700px) {
    header {
        width: 100%;
    }

    header nav ul {
        padding: 0em;
    }

    .grid .header {
        width: 96%;
    }
    
    .grid .header h1 {
        font-size: 2.5em;
    }
    
    .grid .adopt {
        column-count: 2;
        width: 96%;
    }
    
    .grid .album {
        width: 96%;
    }

    .grid .album p {
        align-self: center;
    }
    
    .grid .aside1 {
        width: 100%;
    }
    
    .grid .formu h2 {
        font-size: 1.9em;
    }
    
    .grid .formu legend {
        font-size: 1.5em;
    }

    footer {
        font-size: 1em;
    }

    footer #nuestrosDatos .horarios>li {
        font-size: 0.9em;
    }

    footer #direccion {
        width: 50em;
        margin-left: 2em;
    }

    .grid {
        width: 96%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
        "adopt adopt"
        "album album"
        "aside1 formu"
        "aside1 formu";
    }
}

/* Este es el estilo para tamaño celular */

@media (max-width: 700px) {
    body {
        padding-top: 3em;
    }

    header {
        height: fit-content;
        font-size: 1em;
    }

    header ul li {
        padding-bottom: 0.4em;
    }

    .grid .header {
        width: 96%;
    }
    
    .grid .header h1 {
        font-size: 2.5em;
    }
    
    .grid .adopt {
        column-count: 2;
        width: 96%;
    }
    
    .grid .album {
        width: 96%;
    }

    .grid .album p {
        align-self: center;
    }
    
    .grid .aside1 {
        width: 100%;
    }
    
    .grid .formu h2 {
        font-size: 1.3em;
    }
    
    .grid .formu legend {
        font-size: 1.2em;
    }

    .grid .formu label {
        font-size: 0.9em;
    }

    .grid .formu a {
        font-size: 1em;
    }

    footer {
        width: 100%;
        display: grid;
        gap: 0.4em;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
    }

    footer #imgFooter {
        width: fit-content;
        height: 7.8em;
        padding-left: 1em;
        margin: 0em;
    }

    footer #nuestrosDatos {
        width: fit-content;
        font-size: 80%;
    }

    footer #direccion {
        padding-left: 1em;
        width: fit-content;
        font-size: 80%;
    }

    footer #redes {
        width: fit-content;
        margin: 0.2em;
    }

    footer #redes p {
        font-size: 80%;
    }

    footer #redes img {
        width: 1em;
        height: 1em;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(1, auto);
        grid-template-areas: "header"
        "adopt"
        "album"
        "aside1"
        "formu";
    }
}