@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0em;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 3.8em;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background: var(--subtitulos);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--hover); 
    border-radius: 2em;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 2em;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 0.4em;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 0.4em;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}


.grid .header {
    grid-area: header;
    display: inline;
}

.grid .header img {
    width: 9em;
    float: left;
    padding-left: 5em;
}

.grid .header h1 {
    font-size: 3em;
    color: var(--titulos);
    width: fit-content;
    float: right;
    padding-right: 1.7em;
    padding-top: 0.55em;
}

.grid .conten {
    background-color: var(--parrafos);
    grid-area: conten;
    box-shadow: 0.3em 0.3em 0.8em 0.7em var(--parrafos), inset 0em 0.1em var(--parrafos);    width: 80em;
}

.grid .conten ul {
    list-style: none;
    display: grid;
    column-gap: 0.1em;
    grid-template-columns: repeat(3, 26.3em);
    grid-template-rows: repeat(3, 14.7em);
    width: fit-content;
    padding: 0.4em;
}

.grid .conten ul .box1,
.box7 {
    background-color: var(--hover);
    color: var(--parrafos);
    font-size: 1.2em;
    width: fit-content;
    text-align: center;
    padding: 1.4048em;
    align-self: center;
}

.grid .conten ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.grid .conten ul .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid .conten ul .box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid .aside1 {
    grid-area: aside1;
    text-align: center;
    background-color: var(--parrafos);
    color: var(--fondo);
    box-shadow: #65451F 0.06em 0.13em 0.3em 0.3em;
}

.grid .aside1 p {
    font-size: 1.5em;
    text-align: center;
    padding: 0.4em 3.6em;
    width: fit-content;
}

.grid .info {
    grid-area: info;
    display: inline;
    text-align: center;
}

.grid .info article {
    border: 0.06em solid var(--titulos);
    width: 18.8em;
    height: fit-content;
    text-align: center;
    overflow: hidden;
    background-color: var(--hover);
    display: inline-block;
    margin: 0em 0.4em;
}

.grid .info article img {
    width: fit-content;
    height: 12.5em;
    overflow-x: hidden;
    object-position: center;
}

.grid .info article h3 {
    color: var(--subtitulos);
    font-family: 'Comfortaa', cursive;
    margin: 0.4em 0em;
}

.grid .info article p {
    padding-bottom: 6%;
}

.grid .info article a {
    text-decoration: none;
    color: var(--parrafos);
    background-color: var(--fondo);
    padding: 0.4em 7em;
}

.grid .info article a:hover {
    text-decoration: none;
    color: var(--fondo);
    background-color: var(--parrafos);
    padding: 0.4em 7em;
}

footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 1.2em;
    display: inline-flex;
    padding: 0.3em 0em;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 8.8em;
    margin-right: 3em;
}

footer #nuestrosDatos {
    width: 25em;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0em;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #nuestrosDatos .horarios>li {
    padding-left: 1.5em;
    font-size: 1em;
}

footer #nuestrosDatos ul li a {
    text-decoration: none;
    color: var(--hover);
}

footer #direccion p {
    font-size: 1em;
}

footer #redes {
    display: inline;
    text-align: center;
    width: 37.5em;
    margin: 0em 3em;
}

footer #redes img {
    display: inline-block;
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}

footer #redes p {
    display: inline-block;
}

.grid {
    width: 80em;
    display: grid;
    gap: 0.4em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
        "conten conten conten"
        "aside1 aside1 aside1"
        "info info info"
        "aside2 aside2 aside2";
    margin: auto;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: var(--hover);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    z-index: 10000;
}

#carga {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

/* Este es el estilo para tamaño tableta */

@media (max-width: 992px) and (min-width: 700px) {
    header {
        width: 100%;
    }

    header nav ul {
        padding: 0em;
    }

    .grid .conten {
        width: 100%;
    }

    .grid .conten ul {
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(3, auto);
    }

    .grid .conten ul .box1,
    .box7 {
        font-size: 1.1em;
    }

    .grid .info {
        display: grid;
        grid-template-columns: repeat(3, auto);
        overflow-y: auto;
    }

    .grid .info article {
        width: 15em;
    }

    .grid .info article img {
        width: fit-content;
        height: 10em;
    }

    .grid .info article h3 {
        color: var(--subtitulos);
        font-family: 'Comfortaa', cursive;
        margin: 0.4em 0em;
    }

    .grid .info article p {
        padding-top: 6%;
        padding-bottom: 3%;
    }

    .grid .info article a {
        padding: 0.4em 5.1em;
    }

    .grid .info article a:hover {
        padding: 0.4em 5.1em;
    }

    footer {
        font-size: 1em;
    }

    footer #nuestrosDatos .horarios>li {
        font-size: 0.9em;
    }

    footer #direccion {
        width: 50em;
        margin-left: 2em;
    }

    .grid {
        width: 96%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "conten conten"
            "aside1 aside1"
            "info info"
            "aside2 aside2";
    }
}

/* Este es el estilo para tamaño celular */

@media (max-width: 700px) {
    body {
        padding-top: 3em;
    }

    header {
        height: fit-content;
        font-size: 1em;
    }

    header ul li {
        padding-bottom: 0.4em;
    }

    .grid .header img {
        width: 6em;
        padding-left: 3em;
    }

    .grid .header h1 {
        font-size: 1.8em;
        color: var(--titulos);
        width: 5.1em;
    }

    .grid .conten {
        width: 100%;
    }

    .grid .conten ul {
        display: grid;
        column-gap: 0.06em;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        padding: 0.5em;
    }

    .grid .conten ul .box1,
    .box7 {
        font-size: 0.9em;
    }

    .grid .conten ul .box3,
    .box6 {
        display: none;
    }

    .grid .aside1 p {
        font-size: 1.2em;
    }

    .grid .info {
        display: grid;
        grid-template-columns: repeat(3, auto);
        overflow-y: auto;
    }

    .grid .info article {
        width: 16.8em;
    }

    .grid .info article a {
        padding: 0.4em 6em;
    }

    .grid .info article a:hover {
        padding: 0.4em 6em;
    }

    .grid .info article p {
        padding-bottom: 6%;
    }

    footer {
        width: 100%;
        display: grid;
        gap: 0.4em;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, auto);
    }

    footer #imgFooter {
        width: fit-content;
        height: 7.8em;
        padding-left: 1em;
        margin: 0em;
    }

    footer #nuestrosDatos {
        width: fit-content;
        font-size: 80%;
    }

    footer #direccion {
        padding-left: 1em;
        width: fit-content;
        font-size: 80%;
    }

    footer #redes {
        width: fit-content;
    }

    footer #redes p {
        font-size: 80%;
    }

    footer #redes img {
        width: 1em;
        height: 1em;
    }

    .grid {
        width: 100%;
    }
}