@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Tipografía para titulos font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
/* Tipografía para textos  font-family: 'Pompiere', cursive;*/

:root {
    --fondo: #efe1cf;
    --hover: #C8AE7D;
    --titulos: #765827;
    --subtitulos: #65451F;
    --parrafos: #261908;
}

* {
    width: 100%;
    margin: 0em;
}

body {
    font-family: 'Pompiere', cursive;
    background-color: var(--fondo);
    padding-top: 3.8em;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background: var(--subtitulos);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--hover); 
    border-radius: 2em;
}

header {
    background-color: var(--subtitulos);
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

header ul {
    display: inline;
    height: 2em;
}

header ul li {
    display: inline-block;
    width: fit-content;
    margin-top: 0.4em;
}

header ul li :hover {
    background-color: var(--hover);
    color: var(--fondo);
    margin: 1.2em;
}

header ul li a {
    text-decoration: none;
    color: var(--parrafos);
    padding: 0.4em;
}

header ul li a:hover {
    color: var(--subtitulos);
    background-color: var(--fondo);
}

.grid .header {
    grid-area: header;
    display: grid;
    place-content: center;
    justify-items: center;
    height: 10.7em;
}

.grid .header img {
    width: 9em;
}

.grid .header h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8em;
    margin-top: 0.5em;
}

.grid .conten {
    grid-area: conten;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
}

.grid .conten .producto {
    border: 0.09em solid var(--titulos);
    width: 13em;
    height: 17.5em;
    text-align: center;
    overflow: hidden;
    background-color: var(--hover);
}

.grid .conten .producto img {
    width: fit-content;
    height: 9em;
    overflow-x: hidden;
    object-position: center;
}

.grid .conten .producto h4 {
    color: var(--subtitulos);
    font-family: 'Comfortaa', cursive;
    padding-bottom: 0.6em;
}

.grid .conten .producto p {
    padding-bottom: 0.6em;
}

.grid .conten .producto .precio {
    color: var(--hover);
    font-weight: bolder;
    padding: 0.5em 0em;
    background-color: var(--parrafos);
    border: 0.06em solid var(--subtitulos);
}

.grid .aside1 {
    background-color: var(--parrafos);
    border-radius: 1em;
    color: var(--hover);
    grid-area: aside1;
    height: 62em;
    padding: 1em;
}

.grid .aside2 {
    grid-area: aside2;
    font-size: x-large;
    text-align: center;
    padding: 0.5em 0em;
    margin: 1em 0em;
    background-color: var(--hover);
    box-shadow: 0.3em 0.3em 0.8em 0.7em var(--parrafos), inset 0em 0.1em var(--parrafos);
}

footer {
    background-color: var(--subtitulos);
    color: var(--fondo);
    font-size: 1.2em;
    display: inline-flex;
    padding: 0.3em 0em;
    align-items: center;
}

footer #imgFooter {
    float: left;
    width: auto;
    height: 8.8em;
    margin-right: 3em;
}

footer #nuestrosDatos {
    width: 25em;
}

footer #nuestrosDatos ul {
    display: inline;
    padding: 0em;
}

footer #nuestrosDatos ul li {
    display: block;
}

footer #nuestrosDatos .horarios>li {
    padding-left: 1.5em;
    font-size: 1em;
}

footer #nuestrosDatos ul li a {
    text-decoration: none;
    color: var(--hover);
}

footer #redes {
    display: inline;
    text-align: center;
    width: 37.5em;
    margin: 0em 3em;
}

footer #redes img {
    display: inline-block;
    width: 2em;
    height: 2em;
    padding: 0.3em;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}

footer #redes p {
    display: inline-block;
}

.grid {
    width: 80em;
    display: grid;
    gap: 0.4em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5);
    grid-template-areas: "header conten conten conten conten"
        "aside1 conten conten conten conten"
        "aside1 conten conten conten conten"
        "aside1 conten conten conten conten"
        "aside2 aside2 aside2 aside2 aside2";
    margin: auto;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: var(--hover);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    z-index: 10000;
}

#carga {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}


/* Este es el estilo para tamaño tableta */

@media (max-width: 992px) and (min-width: 700px) {
    header {
        width: 100%;
    }

    header nav ul {
        padding: 0em;
    }

    .grid .header {
        display: inline;
        width: 100%;
    }
    
    .grid .header img {
        float: left;
        padding-left: 5em;
        padding-top: 1.3em;
    }
    
    .grid .header h1 {
        font-size: 2.5em;
        width: fit-content;
        float: right;
        padding-top: 0.55em;
    }

    .grid .aside1 {
        width: 85%;
        height: auto;
    }

    .grid .conten {
        width: 80%;
        grid-template-columns: repeat(3, auto);
        justify-self: center;
    }

    .grid .info {
        width: 96%;
    }

    .grid .info article {
        width: 50%;
    }

    .grid .aside2 {
        width: 100%;
    }

    footer {
        font-size: 1em;
    }

    footer #nuestrosDatos .horarios>li {
        font-size: 0.9em;
    }

    footer #direccion {
        width: 50em;
        margin-left: 2em;
    }

    .grid {
        width: 96%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
            "aside1 conten"
            "aside1 conten"
            "info info"
            "aside2 aside2";
    }
}

/* Este es el estilo para tamaño celular */

@media (max-width: 700px) {
    body {
        padding-top: 3em;
    }

    header {
        height: fit-content;
        font-size: 1em;
    }

    header ul li {
        padding-bottom: 0.4em;
    }
    .grid .header {
        display: inline;
        width: 100%;
    }
    
    .grid .header img {
        float: left;
        padding-left: 5em;
        padding-top: 1.3em;
    }
    
    .grid .header h1 {
        font-size: 2.5em;
        width: fit-content;
        float: right;
        padding-top: 0.55em;
        padding-right: 0.5em;
    }

    .grid .aside1 {
        width: 85%;
        height: auto;
    }

    .grid .conten {
        width: 80%;
        grid-template-columns: repeat(2, auto);
        justify-self: center;
    }

    .grid .info {
        width: 96%;
    }

    .grid .info article {
        width: 50%;
    }

    .grid .aside2 {
        width: 100%;
    }
    footer {
        width: 100%;
        display: grid;
        gap: 0.4em;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
    }

    footer #imgFooter {
        width: fit-content;
        height: 7.8em;
        padding-left: 1em;
        margin: 0em;
    }

    footer #nuestrosDatos {
        width: fit-content;
        font-size: 80%;
    }

    footer #direccion {
        padding-left: 1em;
        width: fit-content;
        font-size: 80%;
    }

    footer #redes {
        width: fit-content;
        margin: 0.2em;
    }

    footer #redes p {
        font-size: 80%;
    }

    footer #redes img {
        width: 1em;
        height: 1em;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "header header"
        "aside1 conten"
        "aside1 conten"
        "aside2 aside2";
    }
}