{% extends 'core/base.html' %}

{% block header %} 
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

{% block content %} 

<div class="grid">
    <section class="header">
        <article class="empleado">
            <img src="{% static 'core/img/contacto/gato preparando cafe _1barista.jpeg' %}" alt="Barista">
            <h4>Barista - Benito</h4>
            <p>Amable, servicial y apasionado por el café. Siempre dispuesto a escuchar las necesidades de los clientes y crear bebidas personalizadas. Con su experiencia y su técnica impecable puede crear bebidas deliciosas.</p>
        </article>

        <article class="empleado">
            <img src="{% static 'core/img/contacto/mozo.jpeg' %}" alt="mozo ">
            <h4>Mozo - Clementino</h4>
            <p>Amable, servicial y profesional. Es el encargado de atender a los clientes de Latte Cat Cafe y su objetivo, gracias a su experiencia gatronomica, es hacer que se lleven una experiencia agradable y satisfactoria.</p>
        </article>

        <article class="empleado">
            <img src="{% static 'core/img/contacto/servicio+cliente.jpeg' %}" alt="servicio al cliente ">
            <h4>Asistencia y servicio al cliente - Rita</h4>
            <p>Su objetivo es resolver las dudas y problemas de los clientes de forma rápida y eficaz, y hacer que tengan una experiencia positiva en Latte Cat Cafe. Siempre logra que los clientes se sientan valorados y satisfechos. </p>
        </article>
    </section>


    <section class="conten">
        <div id="video">
            <video controls autoplay loop>
                <source src="{% static 'core/videos/mimos.mp4' %}" type="video/mp4">
            </video>
            <p>La Gatoterapia ayudar a las personas a mejorar su salud física y mental.</p>
        </div>
    </section>


    <section class="aside1">
        <h2>VOLUNTARIADO</h2>

        <p>Nuestra Asociación aún no cuenta con un albergue o refugio felino. Por esta razón, siempre reclutamos voluntarios que nos apoyen ofreciéndole hogar temporal a los michis rescatados durante su proceso de rehabilitación, hasta que sean declarados clínicamente sanos y puedan unirse a Latte Cat Cafe donde podrán ser adoptados. Nuestra ayuda depende mucho de los voluntarios y hogares de transito, sólo así podemos apoyar más gatitos. 
        <br> Al involucrar a la comunidad en la ayuda cumplimos una función social muy importante en torno a la sobrepoblación animal que existe, que finalmente beneficia a toda nuestra comunidad. ¿Te gustaria ser voluntario? Mandanos un <img src="../img/redes/whatsapp.jpg" alt="whatsapp"> y te contactamos de inmediato.</p>

        <h3> ^-^ Adopta y cambia dos vidas para siempre ^-^</h3>

        <img src="{% static 'core/img/contacto/adopta.jpg' %}" alt="gato y mimos">
    </section>

    <section class="info" id="preguntas">

        <h2 class="titulo"> PREGUNTAS FRECUENTES</h2>

        <div class="dropdown">
            <span>¿Que es un Cat Cafe ?</span>
            <div class="dropdown-content">
                <p>Básicamente un lugar donde se ofrecen servicio de cafeteria, bebidas, comer cosas ricas, y poder disfrutar la compañía de gatitos a la vez. Los clientes cubren un costo de ingreso por un período de tiempo en la zona donde se encuentran los gatitos, y este monto se destina íntegramente a sus cuidados. Latte Cat Café cuenta con dos ambientes: la cafetería temática, y la Zona de gatitos; donde debes seguir las reglas, encontrarás juegos de mesa, páginas para colorear y libros.</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Puedo reservar la Zona Michi para algún evento?</span>
            <div class="dropdown-content">
                <p>Sí, la Zona Michi se puede reservar para diferentes tipos de eventos como cumpleaños, bridal showers, baby showers, reuniones empresariales, etc; para un grupo máximo de 20 personas. Si deseas hacer una reserva escríbenos a <a href="mailto:attecatcafe@gmail.com">lattecatcafe@gmail.com</a>
                </p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Cuales son los requisitos para ser voluntario?</span>
            <div class="dropdown-content">
                <p>Ser mayor de edad. 
                <br> Tener un espacio o habitación adicional para alojar al michi. 
                <br> Contar con el tiempo necesario para la socialización y juegos; reforzar las relaciones positivas es primordial. 
                <br> Contar con tiempo disponible para llevarlo a las citas veterinarias, según sea necesario.
                <br> Permitirnos monitorear el progreso del gatito mediante fotos y/o videos.</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Ser voluntaria/o me crea un gasto adicional? </span>
            <div class="dropdown-content">
                <p>No, te proporcionaremos un paquete de comida y arena, por otro lado, nosotros cubrimos los costos médicos del michi hasta que esté clínicamente sano. Nuestro salario es a base de ronroneos michi, café gratis junto a los michis en nuestro Latte Cat Café, y adicionalmente, te agradecemos con un Certificado de Voluntariado de nuestra Asociación Zona Michi </p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Qué es la Gato-terapia?</span>
            <div class="dropdown-content">
                <p>Es una terapia basada en la interacción amistosa entre gatos y humanos, beneficiando la salud física y mental. El ronroneo, la vibración sonora que producen los gatos, estimula las endorfinas y la hormona de la felicidad “serotonina”. También nos ayuda a eliminar el estrés, el bajo estado de ánimo y la ansiedad, regula la presión sanguínea y la frecuencia de los latidos de nuestro corazón. ¡En Latte Cat Café esto es un win-win para los michis adoptables y los cat lovers!</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Cuál es el costo de ingreso para la Zona Michi y hacia donde va destinado el dinero?</span>
            <div class="dropdown-content">
                <p>Básicamente un lugar donde se ofrecen servicio de cafeteria, bebidas, comer cosas ricas, y poder disfrutar la compañía de gatitos (Zona Michi) a la vez. Los clientes cubren un costo de ingreso por un período de tiempo en la zona donde se encuentran los gatitos, y este monto se destina íntegramente a sus cuidados. Latte Cat Café cuenta con dos ambientes: la cafetería temática, y la Zona de gatitos; donde debes seguir las reglas, encontrarás juegos de mesa, páginas para colorear y libros.</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Cuántos gatitos tienen?</span>
            <div class="dropdown-content">
                <p>La Zona Michi aloja entre 7 y 10 gatitos rescatados, de distintas edades y disponibles para la adopción                 responsable. Por otro lado, también tenemos gatitos en hogares temporales, esperando recuperarse antes de ingresar a nuestra Zona Michi.</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Cómo funcionan las adopciones?</span>
            <div class="dropdown-content">
                <p>Las adopciones se establecen bajo los lineamientos de Latte Cat Café. Para poder adoptar debes llenar un Formulario de Adopción.(link para descargar fomulario). Si tu adopción es aprobada, debes cubrir el costo de adopción de $1000 (este nos ayuda ayuda a cubrir el tratamiento veterinario aplicado). En caso de gatitos menores de 5 meses, te vamos a pedir que firmes la carta de Compromiso de Esterilización mandatorio.
                Para mayor información sobre adopcion <a href="{% url 'adopta' %}">has clic aqui</a> </p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Podemos dejar gatitos rescatados en el Latte Cat Café?</span>
            <div class="dropdown-content">
                <p>¡NO, no somos un albergue o refugio animal y NO estamos preparados para ello! Todos nuestros gatitos ya han pasado un proceso de rehabilitación veterinaria en hogares temporales. Siguen un Protocolo Veterinario y deben ser declarados clínicamente sanos para poder ingresar.</p>
            </div>
        </div>

        <div class="dropdown">
            <span>¿Los gatos tienen acceso a la cocina del Café?</span>
            <div class="dropdown-content">
                <p>No, los gatitos se encuentran en un ambiente totalmente separado del café, en la Zona Michi. Esta esanexa, cuenta con una entrada independiente y no tiene acceso directo al café. Cumplimos con las reglas sanitarias requeridas que prohíben el contacto de los gatitos con ninguna zona del café, incluida la cocina.</p>
            </div>
        </div>

        <div class="video">
            <p>Te esperamos para compartir una linda experiencia en <br>LATTE CAT CAFE</p>
            <video controls autoplay loop height="320">
                <source src="{% static 'core/videos/mimos4.mp4' %}" type="video/mp4">
            </video>
        </div>
    </section>
</div>
{% endblock %}